SUPABASE_PROJECT_ID="vuzjgeslyjkqulkqudqw"
SUPABASE_PUBLISHABLE_KEY="sb_publishable_Q8qhkvVCFlxBOpOOUzjIYA_B3d83Omu"
SUPABASE_URL="https://c--da345768-7749-4bd1-b382-6882ec7c2442-prod.lovable.cloud"
VITE_SUPABASE_PROJECT_ID="vuzjgeslyjkqulkqudqw"
VITE_SUPABASE_PUBLISHABLE_KEY="sb_publishable_Q8qhkvVCFlxBOpOOUzjIYA_B3d83Omu"
VITE_SUPABASE_URL="https://c--da345768-7749-4bd1-b382-6882ec7c2442-prod.lovable.cloud"
